<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Weekly News</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/daily">Daily News</a></li>
              <li><a class="dropdown-item" href="/weekly">Weekly News</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/articles">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
      </div>
    </div>


    {% if user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Welcome {{ request.user}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
      
  
    {% else %}
    <!-- button to tigger signup button -->
    <button type="button" class="btn btn-success mr-2" data-bs-toggle="modal" data-bs-target="#signupModal">
      Signup
    </button>&nbsp;


    <!-- button to tigger login button -->
    <button type="button" class="btn btn-success mr-2" data-bs-toggle="modal" data-bs-target="#loginModal">
      Login
    </button>
    
    {% endif %} 

  </nav>


  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}



  <!-- Signup Modal 
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModaltitle">Signup</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='/signup' method='post'>
            <div class="form-group">
              <label for="emailFormControlInput1">Username</label>
              <input type="text" class="form-control" id="username" name="username"
                placeholder="Choose a unquie username" required>
            </div>
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter your firstname"
                required>
            </div>
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter your lastname"
                required>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" required>
            </div>
            <div class="form-group">
              <label for="pass1">Password</label>
              <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose your password"
                required>
            </div>
            <div class="form-group">
              <label for="pass2">Confirm Password</label>
              <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm  Password"
                required>
            </div>



            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>


        </div>
        <div class="modal-footer"></div>
      </div>
      </form>
    </div>
  </div>


   login Modal
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModeltitle">Login</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='/login' method='post'>
            {% csrf_token %}
            <div class="form-group">
              <label for="username"> Username </label>
              <input type="text" class="form-control" id="loginusername" name="loginusername"
                placeholder="Enter your Email address" required>
            </div>

            <div class="form-group">
              <label for="email">Password</label>
              <input type="confirm password" class="form-control" id="loginpassword" name="loginpassword"
                placeholder="Enter your Password" required>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>
          </form>


        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>-->




  {% block body %}
  {% endblock body %}
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
    <footer class="bd-footer py-5 mt-5 bg-light">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
              
            </a>
            <ul class="list-unstyled small text-muted">
              <li class="mb-2">Designed and built with all the love in the world by the <a href="/">me only</a> with the help of <a href="/">our contributors</a>.</li>
              <li class="mb-2">Currently v1.0.0.</li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 offset-lg-1 mb-3">
            
            <ul class="list-unstyled">
              <h5>Links</h5>
              <li class="mb-2"><a href="/">Home</a></li>
              <li class="mb-2"><a href="/about">About Us</a></li>
              <li class="mb-2"><a href="/services">Services</a></li>
              <li class="mb-2"><a href="/contact">Contact Us</a></li>
              <!-- <li class="mb-2"><a href="https://blog.getbootstrap.com/">Blog</a></li> -->
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Services</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/weekly">Weekly News</a></li>
              <li class="mb-2"><a href="/daily">Daily News</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Contact Us</h5>
            <ul class="list-unstyled">
              <p class="card-text mb-2">Mobile no.- 987654321</p>
              <p class="card-text mb-2">Email - xyz@gmail.com</p>
            </ul>
          </div>
        </div>
      </div>
    </footer>
</body>

</html>