{% extends 'daily.html' %}

{% block title%}
services
{% endblock title%}

{% block body %}
<div class="container my-3">
    <h1 class="my-4 text-center">Your Views 🤗 </h1>
</div>
<div class="container mb-3 py-4">
    <form method="post" action="/contact">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>  
        
        <div class="form-group">
            <label for="desc">Your Views.</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"placeholder="Comments..."></textarea>
        </div><br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>
{% endblock body %}